<!doctype html>
<html>
  <head>
    <title>AgileMD</title>
    <meta charset="utf-8" />
    <meta name="author" content="AgileMD, Inc." />
    <meta name="agilemd-req-id" content="<%= requestId %>" />
    <link rel="shortcut icon" href="<%= ehr.hostname %>/favicon.ico" />
  </head>
<body>
  <h1>Error (<%= httpStatus %>)</h1>
  <h2><%= message %></h2>
</body>
</html>
